@model IEnumerable<Fleashelf003.Models.DbUserAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComparePassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Campus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AboutMe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComparePassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Campus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AboutMe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Email }) |
            @Html.ActionLink("Details", "Details", new { id = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Email })
        </td>
    </tr>
}

</table>
